<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<h1>Inicio con Thymeleaf</h1>
	<p th:text="${mensaje}"></p>
	<p th:text="${saludo}"></p>
	
	<h2>Esta es la persona</h2>
	<p th:text="${persona}"></p>
	<br>
	Nombre: <span th:text="${persona.nombre}"></span><br>
	Apellido: <span th:text="${persona.apellido}"></span><br>
	Email: <span th:text="${persona.email}"></span><br>
	Telefono: <span th:text="${persona.telefono}"></span><br>
</body>
</html>